/**
 * @name newww bibi
 * @author LeafyLuigi
 * @version 0.2.4
 * @description Pyrite
 * @source https://github.com/LeafyLuigi/discord-themes/tree/master/pyrite
 * @website https://github.com/LeafyLuigi/discord-themes/tree/master/pyrite
 * @invite 7P99YTBRUu
 * @BDEditor Pyrite
*/

@import url('https://leafyluigi.github.io/discord-themes/pyrite/build/base.css');
@import url('https://leafyluigi.github.io/discord-themes/pyrite/build/userModalLayout.css');
@import url('https://leafyluigi.github.io/discord-themes/pyrite/build/better-discord.css');
@import url('https://leafyluigi.github.io/discord-themes/pyrite/build/vencord.css');
@import url('https://leafyluigi.github.io/discord-themes/whitney.css');

:root {
  --primary-color: #FFD4E3;
  --secondary-color: #FFD4E3;
  --hover-color: #FFD4E3;
  --tooltip-color: #FFD4E3;
  --background-image: url('https://i.imgur.com/WaUa5jN.jpeg');
  --background-attachment: fixed;
  --user-modal-image: url('https://leafyluigi.github.io/images/pexels-josh-sorenson-116359.png');
  --user-modal-attachment: fixed;
  --user-modal-width: 900px;
  --user-modal-height: 600px;
  --user-popout-image: url('https://leafyluigi.github.io/images/pexels-josh-sorenson-116359.png');
  --user-popout-attachment: fixed;
  --home-icon: url('https://i.imgur.com/tnZEWBZ.png');
  --category-color: #F7E0EC;
  --selected-channel-color: #DCA3C9;
  --unread-channel-color: #D1577C;
  --unread-channel-glow: drop-shadow(0 2px 2px);
  --read-channel-color: #B57E9D;
  --muted-channel-color: 226, 246, 255;
  --show-channel-unread-dot: block;
  --locked-voice-channel-color: #8C1B3D;
  --green-color: #FFBED4;
  --yellow-color: #D5F3F4;
  --red-color: #5D3A3A;
  --live-color: #F3ECFF;
  --offline-color: #FFFFFF;
  --link-color: #8CB18E;
  --body-font: Minecraftia;
  --code-font: Hack, Monaco, Consolas, Courier, monospace;
  --hide-speed: 0.5s;
  --hide-member-list: 1;
  --hide-active-now: 1;
  --hide-profile-panel: 1;
  --hide-channel-list: 0;
  --mention-background: var(--primary-color);
  --mention-opacity: 0.3;
  --win-min-max-close-button-width: 28px;
  --card-background: rgb(105, 86, 102, 0.05);
  --side-shading: rgb(79, 66, 88, 1);
  --middle-shading: rgb(60, 47, 63, 0.75);
  --header-shading: rgb(98, 76, 105, 1);
  --hover-filter: rgb(255, 255, 255, 0.66);
  --active-filter: rgb(229, 159, 217, 0.63);
  --card-background: rgb(105, 86, 102, 0.05);
  --side-shading: rgb(79, 66, 88, 1);
  --middle-shading: rgb(60, 47, 63, 0.75);
  --header-shading: rgb(98, 76, 105, 1);
  --hover-filter: rgb(255, 255, 255, 0.66);
  --active-filter: rgb(229, 159, 217, 0.63);
  --HSL-server-icon-size: 40px;
  --HSL-server-spacing: 10px;
  --HSL-server-direction: column-reverse;
  --update-notice-dec23: none;
  /* Debug; please do not touch */
}

/* Any custom CSS below here */
/* Change default chat font size */
.messageContent-2qWWxC {
  font-size: 16px !important;
  /* Change number to your preference */
}
/* Change username size */
.username-h_Y3Us {
  font-size: 14px !important;
}
/* Change server list text size */
.name-3Uvkvr {
  font-size: 14px !important;
}

/* Change channel list text size */
.channelName-3KPsGw {
  font-size: 14px !important;
}

/* Adjust message timestamps */
.timestamp-1E3uON {
  font-size: 12px !important;
}
