:root{
     --background: url('https://images.alphacoders.com/632/632525.png');
     --activetext-colour: white;
 
     --primary1-colour: red;
     --primary2-colour: rgba(255,0,0,0.5);
     --primary3-colour: rgba(100,0,0,0.6);
 
     --secondary1-colour: rgba(50,50,50,0.3);
     --secondary2-colour: rgba(100,100,100,0.5);
     --secondary3-colour: rgba(0,0,0,0.5);
 
     --transparency-1: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
     --transparency-2: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
     --transparency-3: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
     --transparency-4: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
     --transparency-5: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
 }
   
 /*
 Theme Owned and Made by VaporousCreeper#9514
   
 Background Img: https://wpblink.com/sites/default/files/wallpaper/anime/66761/sword-art-online-ii-wallpapers-hd-66761-327252.png 
 Transparency2 Module: https://raw.githack.com/Ruben7173/Ruben7173.github.io/master/BetterDiscord-Themes/Modules/transparency2.css - By Ruben7173#5048
 
 The 2 items above are not owned by me, They go to there respected owners 
 */
 
/*--------------------------------------------------------*/
#app-mount {
    background: var(--background-image);
}

/* removing backgrounds */

/* Guild and Top bar transparency */
.theme-dark .wrapper_ef3116 {
    background:transparent;
    background-image: var(--transparency-1);
}

/* transparency for channels and members list and private channels and left side of settings*/
#app-mount .container__2637a, .privateChannels__35e86, .app_a3002d .standardSidebarView__23e6b, .app_a3002d .container__133bf {
    background: transparent;
    background-image: var(--transparency-2); 
}
.theme-dark .panels_c48ade, .theme-light .panels_c48ade {
    background: var(--transparency-2);
}
/* chat and top area and other secondary pages */
.app_a3002d .chat_f75fb0, .app_a3002d .scrollableContainer__74017 {
    background: transparent;
    background-image: var(--transparency-3);
}
/* removing color from specific class */
.panels_c48ade {
    background-color: transparent;
}
/* extra for transparency 3 special case */
.themeDark-3Ap_7i, .app_a3002d .chat_f75fb0 {
    background-color: transparent;
    background-image: var(--transparency-3);
}
.typeWindows__421ed {
    background-image: var(--transparency-5);
}
/* removes margin from top area and adds it to the nav buttons + discord logo */
.typeWindows__421ed {
    height: 21px;
    margin-top: 0px;
}
/* removes a border under better discord at channels */
.unread-1xRYoj {
    display:none;
}
/* fixes */
.theme-dark {
    --background-primary: none;
    --background-secondary: none;
    --background-tertiary: none;
    --background-accent: none;
} 
/*--------------------------------------------------------*/

/*Background Img*/
    #app-mount {
        background-image: var(--background); 
        background-position: center; 
        background-size: cover; 
    }

/*Home and Discover*/
    /*Nitro*/
        #app-mount .applicationStore_f07d62 {background-color: var(--secondary3-colour);}
        #app-mount .applicationStore_f07d62 .card_f8e6bf {background-color: var(--secondary1-colour);}

        #app-mount .applicationStore_f07d62 .trialOfferWrapper-2Y24ok .button__201d5,
        #app-mount .activitiesBannerContainer-aAnWk6 .button__201d5 {
            background-color: white;
        } 
    
    /*Shop*/
        #app-mount .shop__6db1d .shopCard_c3d04b { background-color: var(--secondary1-colour); }

        #app-mount .shop__6db1d .shopViewWrapper__6db1d { background-image: var(--transparency-3); }
        #app-mount .shop__6db1d .headerBar__80679 {background-color: var(--secondary1-colour)!important;}
    
    /*Sidebar: Direct Messages*/
        #app-mount .channel__972a0,
        #app-mount .sidebar_c48ade .categoryItem_c72b37 { 
            margin-bottom: 2px; 
            transition: background-color 0.2s; 
            transition-timing-function: ease-in-out
        }
        #app-mount .channel__972a0:hover, 
        #app-mount .interactive-1vLZ_I.interactiveSelected__972a0,
        #app-mount .sidebar_c48ade .categoryItem_c72b37:hover,
        #app-mount .sidebar_c48ade .categoryItem_c72b37.selected__91a9d {
            background-color: var(--secondary2-colour);
        }

        #app-mount .privateChannelsHeaderContainer__99e7c {
            background-color: var(--primary3-colour);
            padding: 12px;
            border-radius: 10px;
        }

    /*Discover Servers*/
        #app-mount .sidebar_c48ade .container__551b0 {background-image: var(--transparency-2);}

        #app-mount .scroller__23746 {
            background-color: transparent; 
            background-image: var(--transparency-1);
        }

        #app-mount .content_f0d60d .card__84e3e  {
            background-color: var(--secondary3-colour);
        }
        #app-mount .contentSection_b6bcee .card__84e3e:hover {background-color: var(--secondary2-colour);}

        #app-mount .contentSection_b6bcee .searchBoxInput-3h4etz {background-color: transparent;}

    /*Now Active*/
        #app-mount .nowPlayingColumn__133bf .itemCard__7e549 {background-color: var(--secondary3-colour);}
        #app-mount .nowPlayingColumn__133bf .itemCard__7e549:hover {background-color: var(--secondary1-colour);}
        #app-mount .nowPlayingColumn__133bf .itemCard__7e549 .body__00943 {background-color: var(--secondary2-colour);}

    /*App Directory*/
        #app-mount .directoryContainer_da3f59 {
            background-image: var(--transparency-3);
        }

        #app-mount .directoryContainer_da3f59 .container_d9c848,
        #app-mount .container_d7acc7 .category_d7acc7 {
            transition: background-color 0.2s; 
            transition-timing-function: ease-in-out;
        }

        #app-mount .directoryContainer_da3f59 .container_d9c848:hover,
        #app-mount .container_d7acc7 .category_d7acc7:hover {
            background-color: var(--secondary2-colour);
        }

        #app-mount .directoryContainer_da3f59 .inputDefault__0f084 {border-color: transparent!important;}
        #app-mount .directoryContainer_da3f59 .searchBox_d727b3:focus-within {
            border-color: var(--primary1-colour);
        }

/*In Servers*/
    #app-mount .numberBadge__2b1f5 {
        background-color: var(--primary1-colour)!important;
        color: var(--activetext-colour);
    }

    /*Icon Servers*/
        #app-mount .blobContainer_e5445c .wrapper__6e9f8 {background-color: var(--secondary1-colour);}
        #app-mount .blobContainer_e5445c .wrapper__6e9f8:hover {background-color: var(--primary3-colour);}
    /*Letter Servers*/
        #app-mount .childWrapper__6e9f8 ,#app-mount .circleIconButton__5bc7e {background-color: var(--secondary1-colour);}
        #app-mount .childWrapper__6e9f8:hover ,#app-mount .circleIconButton__5bc7e:hover {background-color: var(--primary3-colour);}

    /*Server Folders*/
        #app-mount .expandedFolderBackground__48112:not(.collapsed__48112) {background-color: var(--secondary3-colour);}
        
    /*Server Boosting*/
        #app-mount .root__5c9fc .scroller__6fd0e { background-color: var(--secondary3-colour); }

        #app-mount .root__5c9fc .topPerksCard__3add8,
        #app-mount .root__5c9fc .wrapper__5b98e {
            background-color: var(--secondary1-colour);
        }



    /*Channels*/
        #app-mount .containerDefault__29444 {
            background-color: var(--primary3-colour); 
            height: 30px; text-align: center; 
            border-radius: 10px; 
            padding: 5px 5px 0 5px;
        }
        #app-mount .activityPanel_c48ade {
            background-image: var(--transparency-1); 
            background-color: rgba(0,0,0,0); 
            margin-bottom: 0;
        }

        #app-mount .containerDefault__29444 {margin-top: 15px;}
        #app-mount .containerDefault_c69b6d {margin-right: 10px;}

        #app-mount .mention__3b95d,
        #app-mount .mentionsBadge__933a1 .numberBadge__2b1f5 {
            background-color: var(--primary1-colour)!important;
        }

        #app-mount .unreadBar__629e4 {background-color: var(--secondary2-colour);}

        #app-mount .autocomplete__13533 {background-color: var(--secondary3-colour);}

        /*Text Channels*/
            #app-mount .containerDefault_c69b6d .wrapper__2ea32:hover {width: 100%;}
            #app-mount .containerDefault_c69b6d.selected_c69b6d .wrapper__2ea32 {width: 100%;}
            #app-mount .wrapper__2ea32 { background-color: var(--secondary1-colour) }
            #app-mount .wrapper__2ea32:hover,
            #app-mount .containerDefault_c69b6d.selected_c69b6d  .wrapper__2ea32 { background-color: var(--secondary2-colour)}
            #app-mount .containerDefault_c69b6d .wrapper__2ea32{
                width: 190px; 
                transition: width 0.2s; 
                transition-timing-function: ease-in-out; 
            }

            #app-mount .containerDefault_c69b6d .modeMuted__2ea32 div.wrapper__2ea32 {background-color: var(--primary3-colour);}
            
            #app-mount .actionBar_aa605f {
                background-color: var(--secondary3-colour); 
                border-radius: 5px;
            }

        /*Voice Channels*/
            #app-mount .containerDefault_c69b6d .modeConnected__2ea32 div.wrapper__2ea32 {width: 100%; background-color: var(--secondary2-colour);}
            #app-mount .containerDefault_c69b6d .modeLocked__2ea32 div.wrapper__2ea32 {background-color: var(--primary3-colour);}

            /*VC Info*/
                #app-mount .container__37e49,
                #app-mount .container_e131a9 {
                    background-color: transparent;
                }

                #app-mount .panels_c48ade .flex__7c0ba .button__67645,
                #app-mount .panels_c48ade .actionButtons_e131a9 {
                    background-color: var(--secondary3-colour);
                    border-radius: 3px;
                }

                #app-mount .panels_c48ade .button__201d5:hover, 
                #app-mount .panels_c48ade .avatarWrapper__37e49:hover {
                    background-color: var(--secondary2-colour);
                }
            
                #app-mount .button__67645[aria-label="Disconnect"] {background-color: var(--primary3-colour)!important;}
                #app-mount .button__67645[aria-label="Disconnect"]:hover {background-color: var(--primary2-colour)!important;}

            /*VC User*/
                #app-mount .list_c3cd7d { padding-left: 10px; }
                #app-mount .userAvatar__55bab { margin-left: 15px; }


                #app-mount .avatarSpeaking__07f91 {box-shadow: 0 0 0 2px var(--primary1-colour);}
                #app-mount .avatarSpeaking__07f91::after {
                    content: ":";
                    color: transparent; 

                    background-image: linear-gradient(to right, var(--primary2-colour), rgba(0,0,0,0));
                    padding: 0 120px 11px 0;
                    border-left: 5px solid var(--primary1-colour);

                    position: relative;
                    left: -15px;

                    z-index: -1;
                }

                #app-mount .voiceUser__07f91 .content__07f91:hover {background-color: transparent;}
                #app-mount .voiceUser__07f91 {
                    transition: margin 0.2s; 
                    transition-timing-function: ease-in-out; 
                    margin-left: 0; 
                    padding-right: 5px
                }
                #app-mount .voiceUser__07f91:hover {
                    background-color: var(--secondary1-colour); 
                    border-radius: 2px; margin-left: 20px;
                }

            /*Live Feed*/
                #app-mount .root_bfe55a, 
                #app-mount .callContainer_cb9592 {
                    background: var(--transparency-1);
                }

                #app-mount .wrapper__1405b .controlButton__1405b[aria-label="Share Your Screen"],
                #app-mount .wrapper__1405b .controlButton__1405b[aria-label="Disconnect"] {
                    background-color: var(--primary2-colour);
                }
                #app-mount .wrapper__1405b .controlButton__1405b .staticButton_f1ceac,
                #app-mount .buttonContainer__1405b .controlButton__1405b {
                    background-color: var(--secondary2-colour);
                }
